body {
    display: grid;
    grid-template-columns: auto 800px auto;
    grid-template-rows: auto 600px auto;
    gap: 20px;
    margin: 0px;
    font-family: 'Oxygen', sans-serif;
    background-color: #000;


}

h1 {
    font-family: 'Shrikhand', cursive;
    font-weight: normal;
    color: #FFF;
}

#title {
    grid-column-start: 2;
    grid-row-start: 1;
    text-align: center;
}

.gameElement {
    position: absolute;
}

.background {
    z-index: 0;
}

.middleAssets {
    z-index: 100;
}

.characterLevel {
    z-index: 500;
}

.forground {
    z-index: 1000;
}

.messageBox {
    position: relative;
    padding: 10px;
    background-color: #FFF;
    border-radius: 60px;
    left: 20px;
    top: -10px;
    opacity: 0;
    transition: all .75s ease-in-out;
    min-width: 50px;
}

.messageBox:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 25%;
    width: 0;
    height: 0;
    border: 9px solid transparent;
    border-top-color: #fff;
    border-bottom: 0;
    border-left: 0;
    margin-left: -4.5px;
    margin-bottom: -8px;
}

#gameScreen {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #c6c9f0;
    position: relative;

}

#backdrop {
    background: url("../img/background.jpg") no-repeat top left;
    width: 800px;
    height: 600px;
}

#character {
    top: 40px;
    left: 50px;
    transition: all 1s ease-in-out;
}

#door {
    top: 431px;
    left: 364px;
    width: 48px;
    height: 98px;
    background-color: #FFF;
}

#windowRT {
    background-color: #FFF;
    width: 34px;
    height: 67px;
    top: 70px;
    left: 707px;
}